@import './base.css';

#app {
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  font-weight: normal;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/darkness.png");
}

